In [78]:
import pandas as pd
import numpy as np

In [79]:
data = pd.read_excel("IPPIS_DEDUCTION_REPORT1.xlsx", sheet_name = None)
data = pd.concat(data[frame] for frame in data.keys())

analysis = data.groupby(['Ministry Name', 'Reporting Month']).agg(["sum","count"]).reset_index()

In [81]:
analysis

                                   Ministry Name Reporting Month  \

0      AHMADU BELLO UNIVERSITY TEACHING HOSPITAL      2020-11-30
1      AHMADU BELLO UNIVERSITY TEACHING HOSPITAL      2020-12-30
2      AHMADU BELLO UNIVERSITY TEACHING HOSPITAL      2021-01-30
3      AHMADU BELLO UNIVERSITY TEACHING HOSPITAL      2021-03-30
4      AHMADU BELLO UNIVERSITY TEACHING HOSPITAL      2021-04-30
..                                           ...             ...
528                       VOICE OF NIGERIA (VON)      2021-04-30
529  ZONAL ADVANCED TECHNOLOGY LABORATORY - KANO      2020-11-30
530  ZONAL ADVANCED TECHNOLOGY LABORATORY - KANO      2021-02-28
531  ZONAL ADVANCED TECHNOLOGY LABORATORY - KANO      2021-03-30
532  ZONAL ADVANCED TECHNOLOGY LABORATORY - KANO      2021-04-30

    Employee Number                                            Employee Name  \
                sum count                                                sum
0        11380288.0    35  ABDULHAMID, Mr. SULEIMANDAYYABU, Mr. LAWALAHMA...
1         9034377.0    28  MAHAMUDA, Mr. UMARABUBAKAR, Mr. SULEIMANLAWAL,...
2        10129737.0    31  OMOLE, Mrs. FLORENCE IYADUNNIMAHAMUDA, Mr. UMA...
3         5965204.0    18  SABIU, Mr. ALIYUABUBAKAR, Mr. AHMEDGAMBO, Mr. ...
4         8634560.0    26  UMAR, Mr. JISAMBO JAMILUSABIU, Mr. ALIYUWADA, ...
..              ...   ...                                                ...
528         30953.0     1                   Adesaogun, Mr. Adesina Babatunde
529         23970.0     1                                   JOSEPH, Mr. PAUL
530         23970.0     1                                   JOSEPH, Mr. PAUL
531         23970.0     1                                   JOSEPH, Mr. PAUL
532         23970.0     1                                   JOSEPH, Mr. PAUL

          Deduction Amount       Unnamed: 5       Unnamed: 6       Macro1  \
    count              sum count        sum count        sum count    sum
0      35        361128.32    35        0.0     0        0.0     0      0
1      28        310656.24    28        0.0     0        0.0     0      0
2      31        367700.85    31        0.0     0        0.0     0      0
3      18        252024.37    18        0.0     0        0.0     0      0
4      26        408786.79    26        0.0     0        0.0     0      0
..    ...              ...   ...        ...   ...        ...   ...    ...
528     1         19145.53     1        0.0     0        0.0     0      0
529     1         10203.43     1        0.0     0        0.0     0      0
530     1         10203.43     1        0.0     0        0.0     0      0
531     1         10203.43     1        0.0     0        0.0     0      0
532     1         10203.43     1        0.0     0        0.0     0      0

          Auto_Open
    count       sum count
0       0       0.0     0
1       0       0.0     0
2       0       0.0     0
3       0       0.0     0
4       0       0.0     0
..    ...       ...   ...
528     0       0.0     0
529     0       0.0     0
530     0       0.0     0
531     0       0.0     0
532     0       0.0     0

[533 rows x 16 columns]

In [82]:
analysis_columns = analysis.columns.map(''.join)
analysis.columns = analysis_columns

analysis

Index(['Ministry Name', 'Reporting Month', 'Employee Numbersum',
       'Employee Numbercount', 'Employee Namesum', 'Employee Namecount',
       'Deduction Amountsum', 'Deduction Amountcount', 'Unnamed: 5sum',
       'Unnamed: 5count', 'Unnamed: 6sum', 'Unnamed: 6count', 'Macro1sum',
       'Macro1count', 'Auto_Opensum', 'Auto_Opencount'],
      dtype='object')

In [60]:
required_columns = ['Ministry Name',
                    'Reporting Month',
                    'Employee Numbercount',
                    'Deduction Amountsum',
                    'Deduction Amountcount',
                    
                    ]

target = analysis[required_columns]
analysis = target.rename(columns = {'Employee Numbercount': 'Employee Count', 'Deduction Amountsum': 'TotalDeducted', 'Deduction Amountcount': 'Nos Deducted'})
analysis

,Ministry Name,Reporting Month,Employee Count,TotalDeducted,Nos Deducted
0,AHMADU BELLO UNIVERSITY TEACHING HOSPITAL,2020-11-30,35,361128.32,35
1,AHMADU BELLO UNIVERSITY TEACHING HOSPITAL,2020-12-30,28,310656.24,28
2,AHMADU BELLO UNIVERSITY TEACHING HOSPITAL,2021-01-30,31,367700.85,31
3,AHMADU BELLO UNIVERSITY TEACHING HOSPITAL,2021-03-30,18,252024.37,18
4,AHMADU BELLO UNIVERSITY TEACHING HOSPITAL,2021-04-30,26,408786.79,26
...,...,...,...,...,...
528,VOICE OF NIGERIA (VON),2021-04-30,1,19145.53,1
529,ZONAL ADVANCED TECHNOLOGY LABORATORY - KANO,2020-11-30,1,10203.43,1
530,ZONAL ADVANCED TECHNOLOGY LABORATORY - KANO,2021-02-28,1,10203.43,1
531,ZONAL ADVANCED TECHNOLOGY LABORATORY - KANO,2021-03-30,1,10203.43,1
532,ZONAL ADVANCED TECHNOLOGY LABORATORY - KANO,2021-04-30,1,10203.43,1

In [61]:
analysis2 = analysis.groupby(['Ministry Name']).agg(["sum","count"]).reset_index()

In [62]:
analysis_columns = analysis2.columns.map(''.join)
analysis2.columns = analysis_columns
analysis2

,Ministry Name,Employee Countsum,Employee Countcount,TotalDeductedsum,TotalDeductedcount,Nos Deductedsum,Nos Deductedcount
0,AHMADU BELLO UNIVERSITY TEACHING HOSPITAL,138,5,1700296.57,5,138,5
1,AJAOKUTA STEEL COMPANY LIMITED,320,6,4642563.99,6,320,6
2,AMINU KANO UINVERSITY TEACHING HOSPITAL,7,3,153854.99,3,7,3
3,BIO-RESOURCES DEVELOPMENT CENTRE ILORIN,6,3,31730.04,3,6,3
4,BIORESOURCE DEVELOPMENT CENTRE JALINGO - TARAB...,4,4,27347.08,4,4,4
...,...,...,...,...,...,...,...
133,UNIVERSITY OF PORTHARCOURT TEACHING HOSPITAL -...,27,6,353983.87,6,27,6
134,UNIVERSITY OF UYO TEACHING HOSPITAL,3,3,143058.33,3,3,3
135,USMANU DANFODIYO UNIVERSITY TEACHING HOSPITAL,126,6,1603870.73,6,126,6
136,VOICE OF NIGERIA (VON),2,2,38291.06,2,2,2
137,ZONAL ADVANCED TECHNOLOGY LABORATORY - KANO,4,4,40813.72,4,4,4

In [63]:
# analysis2.to_excel("Ministry_Analysis.xlsx", index=False)

In [64]:
analysis2.columns

Index(['Ministry Name', 'Employee Countsum', 'Employee Countcount',
       'TotalDeductedsum', 'TotalDeductedcount', 'Nos Deductedsum',
       'Nos Deductedcount'],
      dtype='object')

In [65]:
required_columns = ['Ministry Name', 
                    'Employee Countsum', 
                    'Employee Countcount',
                    'TotalDeductedsum'                
                   ]
target = analysis2[required_columns]
analysis2 = target.rename(columns = {'Employee Countsum': 'Employee Count', 'TotalDeductedsum': 'TotalDeducted', 'Employee Countcount': 'MonthsDeductedCount'})
analysis2

,Ministry Name,Employee Count,MonthsDeductedCount,TotalDeducted
0,AHMADU BELLO UNIVERSITY TEACHING HOSPITAL,138,5,1700296.57
1,AJAOKUTA STEEL COMPANY LIMITED,320,6,4642563.99
2,AMINU KANO UINVERSITY TEACHING HOSPITAL,7,3,153854.99
3,BIO-RESOURCES DEVELOPMENT CENTRE ILORIN,6,3,31730.04
4,BIORESOURCE DEVELOPMENT CENTRE JALINGO - TARAB...,4,4,27347.08
...,...,...,...,...
133,UNIVERSITY OF PORTHARCOURT TEACHING HOSPITAL -...,27,6,353983.87
134,UNIVERSITY OF UYO TEACHING HOSPITAL,3,3,143058.33
135,USMANU DANFODIYO UNIVERSITY TEACHING HOSPITAL,126,6,1603870.73
136,VOICE OF NIGERIA (VON),2,2,38291.06
137,ZONAL ADVANCED TECHNOLOGY LABORATORY - KANO,4,4,40813.72

In [76]:
finished = analysis2.sort_values('MonthsDeductedCount', ascending=False)
finished.to_excel('Ministry_Analysis.xlsx', index=False)