# calling and inbuit fuctions and operations

In [6]:
#1, pokey = pd.read_csv('pokemon_data.csv') = reading a file 

#pokey.head() = calling the read file and can be called depending on the number of roles and columns you wanna see 

#data.info() = #technical information about the file of date that was read into the pandas library

#pokey.columns = checking for dcolums in the file 

#pokey['Name'] = calling a particular column in the list of columns in the file 

#pokey[['Name','Type 1','Attack']] = calling or sorting for more than one columns in the list of colums 

#pokey.iloc[2] = checks and print the index location of a role in a file 

#pokey.iloc[2,1]= this illustation tells pandas to display te value on role 2 in column 1

#for index, row in pokey.iterrows(): This basicall iterate through the column name type 2 and print all its values 
    #print(index,row['Type 2'])
    
#pokey.loc[pokey['Type 2']== "Poison"] = This checks for the pokey colums (type 2) and displays all roles with poison in the file 

#pokey.sort_values(['Name','Attack','Defense'],ascending = [0,0,1])= sorting values by any column and controlling its order

#pokey['Total']= pokey['HP']+ pokey['Attack']+ pokey['Defense']+ pokey['Sp. Atk']+ pokey['Sp. Def']+pokey['Speed'] = creating a new column with sum of some other column fields 

#pokey['Total']=pokey.iloc[:,4:10].sum(axis=1) #adding a new column using the iloc function

#pokey.to_csv('modified.csv',index=False) = saving to your modified data back into csv or any other file excel and txt

#data = pd.read_csv("C:/Users/USER/Desktop/cohort3b8wd/assignments/application_data.csv") reading data from computer

#type(data) checking for the type it has === pandas.core.frame.DataFrame

#data_cases.drop(['Province/State', 'Lat', 'Long', 'Unnamed: 0'], axis = 1, inplace=True) dropping a set of columns

#pokey_melting =pokey.melt(id_vars=['Country/Region'], value_name='cases', var_name='dates') melting the dataframe

#melted_data_cases["deaths"] = melted_data_deaths.deaths = adding new colum to the melted data == deathsth

# Database creation in sql

In [ ]:
##### CREATE A DATABASE CALLED STORE
CREATE database store

#### SELECT ALL COLUMNS FROM A TABLE CALLED cohort4norm

SELECT * FROM `cohort4norm`

######## CREATE A TABLE WITH THE NAME PRODUCTS THAT HAS A PRIMARY KEY ID

CREATE TABLE products (id INT(3) PRIMARY KEY AUTO_INCREMENT NOT NULL, 
                        name CHAR(50), 
                        qty INT(5), 
                        price INT(5)
                        )

### CREATE A TABLE TRANSACTIONS WITH FOREIGN_KEY RELATIONSHIP TO PRODUCT AND CUSTOMER

CREATE TABLE transactions (id INT(3) PRIMARY KEY AUTO_INCREMENT NOT NULL, 
                       			customer_id INT(5),
                       			product_id INT(5),
                       			qty INT(5), 
                       			_date DATE(),
                          		FOREIGN KEY (customer_id) REFERENCES customers(id),
                           		FOREIGN KEY (product_id) REFERENCES products(id)
                          )

##### INSERT MULTIPLE INTO FOREIGN_KEY TABLE

INSERT INTO transactions (customer_id, product_id, qty, _date) VALUES(1, 2, 5, "2020-03-15"), (2, 2, 4, "2020-04-15"), (1, 1, 1, "2020-03-16")

FIRST_NAME, LAST_NAME, AGE, SEX and INCOME
############ CLASS COMMANDS

drop database univelcity
CREATE DATABASE univelcity
USE univelcity
USE univelcity
USE jumia
USE jumia
SELECT * FROM `phones`
SELECT * FROM `continents`
CREATE TABLE cohort4 (id INT(3), name CHAR(50), git_name CHAR(50))
INSERT INTO cohort4 (id, name, git_name) VALUES(1, "Atha", "dtekluva")
SELECT id, name, git_name FROM cohort4
SELECT * FROM `cohort4`
CREATE TABLE cohort4norm (id INT(3) PRIMARY KEY AUTO_INCREMENT NOT NULL, name CHAR(50), git_name CHAR(50))
INSERT INTO cohort4 ( name, git_name) VALUES( "Yale", "sothebys")
SELECT * FROM `cohort4norm`
SELECT * FROM `cohort4`
INSERT INTO cohort4norm ( name, git_name) VALUES( "Yale", "sothebys")
SELECT * FROM `cohort4norm`
INSERT INTO cohort4 ( name, git_name) VALUES( "Winston", "sothebys")
SELECT * FROM `cohort4norm`
INSERT INTO cohort4norm ( name, git_name) VALUES( "Winston", "Hamptons")
SELECT * FROM `cohort4norm`
SELECT * FROM `cohort4norm`
CREATE TABLE products (id INT(3) PRIMARY KEY AUTO_INCREMENT NOT NULL, name CHAR(50), qty INT(5), price INT(5))
CREATE database store
use store
CREATE TABLE products (id INT(3) PRIMARY KEY AUTO_INCREMENT NOT NULL, name CHAR(50), qty INT(5), price INT(5))
CREATE TABLE customers (id INT(3) PRIMARY KEY AUTO_INCREMENT NOT NULL, name CHAR(50), email CHAR(50))
CREATE TABLE transactions (id INT(3) PRIMARY KEY AUTO_INCREMENT NOT NULL, customer_id INT(5), product_id INT(5), qty INT(5), _date DATE, FOREIGN KEY (customer_id) REFERENCES customers(id), FOREIGN KEY (product_id) REFERENCES products(id) )
INSERT INTO customers (name, email) VALUES("johnny", "rockets@gmail.com")
INSERT INTO customers (name, email) VALUES("whinnie", "whinie@gmail.com")
SELECT * FROM `customers`
INSERT INTO products (name, price, qty) VALUES("shoes", 500, 6)
INSERT INTO products (name, price, qty) VALUES("bags", 1400, 5)
SELECT * FROM `products`
SELECT * FROM `customers`

INSERT INTO products (name, price, qty) VALUES("shoes", 500, 6)
INSERT INTO products (name, price, qty) VALUES("bags", 1400, 5)
SELECT * FROM `products`
SELECT * FROM `customers`
INSERT INTO products (name, price, qty) VALUES("bags", 1400, 5), ("perfume", 1222, 3)
SELECT * FROM `products`
INSERT INTO transactions (customer_id, product_id, qty, _date) VALUES(1, 2, 5, "2020-03-15"), (2, 2, 4, "2020-04-15"), (1, 1, 1, "2020-03-16")
SELECT * FROM `transactions`


### GET TOTAL NUMBER OF PURCHASES, AND NUMBER OF TIMES PURCHASE WAS MADE FOR EACH ITEM IN TABLE AND JOIN THE CORRESPONDING PRODUCT NAME FROM THE PRODUCTS TABLE (W3SHOOLS DATABASE.)

SELECT ProductName, SUM(Quantity) AS TOTAL, COUNT(ProductName) AS PURCHASES FROM (SELECT * FROM OrderDetails
JOIN Products AS T
On T.ProductID = OrderDetails.ProductID)
GROUP BY ProductName
ORDER BY SUM(Quantity) DESC;


pip install cryptography
netstat -plutn
service mysql restart
sudo grep -r 'bind-address' /etc/mysql/*

CREATE USER 'monty'@'localhost' IDENTIFIED BY 'some_pass';
GRANT ALL PRIVILEGES ON *.* TO 'monty'@'localhost' WITH GRANT OPTION;
CREATE USER 'monty'@'%' IDENTIFIED BY 'some_pass';
GRANT ALL PRIVILEGES ON *.* TO 'monty'@'%' WITH GRANT OPTION;