In [2]:
import os
import glob
import pandas as pd

In [3]:
%pwd

'C:\\Users\\USER\\Desktop\\cohort3b8wd\\SEGUN'

In [4]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is 9E4E-BB87

 Directory of C:\Users\USER\Desktop\cohort3b8wd\SEGUN

04/24/2021  08:02 PM    <DIR>          .
04/24/2021  08:02 PM    <DIR>          ..
04/24/2021  08:01 PM    <DIR>          .ipynb_checkpoints
03/29/2021  06:07 PM               927 __pmysql.py
03/29/2021  06:07 PM    <DIR>          __pycache__
03/20/2021  09:01 PM            65,248 application_data.csv
03/29/2021  06:07 PM               212 Ass_integer.py
03/29/2021  06:07 PM               276 Ass_name_last.py
04/14/2021  05:53 PM             9,242 built in functions and reference notebook.ipynb
03/29/2021  06:07 PM             2,849 classexercise.py
04/23/2021  06:50 PM    <DIR>          data
04/14/2021  05:19 PM             3,753 dict_ass.py
03/29/2021  06:07 PM               579 dictionarytodict.py
03/29/2021  06:07 PM               919 dictsplit.py
04/23/2021  09:13 PM            44,839 final.csv
04/23/2021  09:26 PM             9,424 FRESH START NEW COVID CASES.ipynb
03/29/2021  06:07 PM             1,512 function.py
03/29/2021  06:07 PM             1,696 hangman.py
04/23/2021  09:13 PM            44,839 modified.csv
04/19/2021  10:09 PM    <DIR>          my_jupiter
04/14/2021  06:01 PM                 0 newdjango.py
03/29/2021  06:07 PM             2,202 oop_notepad.py
04/10/2021  06:55 AM            40,832 pokemon_data.csv
04/23/2021  09:26 PM           114,772 practice.ipynb
03/29/2021  06:07 PM               615 pymysqLL.py
03/29/2021  06:07 PM               144 question1.py
03/29/2021  06:07 PM               223 question2.py
04/24/2021  08:02 PM             1,283 READ MULTIPLE CSV...ipynb
03/29/2021  06:07 PM               932 request.py
03/29/2021  06:07 PM               390 sample2.py
04/14/2021  06:08 PM             1,590 starting a django project.ipynb
03/29/2021  06:07 PM               906 takehomeass.py
03/29/2021  10:26 PM           549,063 time_series_covid19_confirmed_global.csv
03/29/2021  06:07 PM             2,088 week6.py
03/29/2021  06:07 PM             2,047 week7ass.py
03/29/2021  06:07 PM               945 week8ass.py
              30 File(s)        904,347 bytes
               6 Dir(s)  318,772,101,120 bytes free

In [10]:
os.chdir("/Users//USER//Desktop//cohort3b8wd//SEGUN")

In [11]:
%pwd

'C:\\Users\\USER\\Desktop\\cohort3b8wd\\SEGUN'

In [15]:
file_extension = (".csv")

In [18]:
all_file = [i for i in glob.glob(f'*{file_extension}')]

In [19]:
print(all_file)

['application_data.csv', 'final.csv', 'modified.csv', 'pokemon_data.csv', 'time_series_covid19_confirmed_global.csv']

In [28]:
all_file[:]

['application_data.csv',
 'final.csv',
 'modified.csv',
 'pokemon_data.csv',
 'time_series_covid19_confirmed_global.csv']

In [32]:
pd.read_csv("application_data.csv")

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,3.02953E+11,12/21/2018,1,7500,30.0,30,1/20/2019,1/16/2019
1,217540860,3.0296E+11,12/23/2018,1,7500,30.0,30,1/22/2019,12/29/2018
2,522238092,3.03017E+11,1/8/2019,1,7500,30.0,30,2/7/2019,1/8/2019
3,96754469,3.03E+11,1/4/2019,1,7500,30.0,30,2/3/2019,1/8/2019
4,410354345,3.02952E+11,12/21/2018,1,7500,30.0,30,1/20/2019,1/17/2019
...,...,...,...,...,...,...,...,...,...
995,964510149,302636726,1/15/2018,2,7500,30.0,30,2/14/2018,1/20/2018
996,251997198,302772445,2/13/2018,1,7500,30.0,30,3/15/2018,3/14/2018
997,899011279,302585439,1/3/2018,3,7500,30.0,30,2/2/2018,10/12/2018
998,648637210,3.02788E+11,11/19/2018,1,7500,30.0,30,12/19/2018,12/17/2018
999,464788691,302683579,1/24/2018,1,7500,30.0,30,2/24/2018,2/11/2018

In [43]:
[pd.read_csv(file)for file in all_file]

[    customerID       loanId appilcationDate  LoanNumber  LoanAmount  \
 0    839247458  3.02953E+11      12/21/2018           1        7500
 1    217540860   3.0296E+11      12/23/2018           1        7500
 2    522238092  3.03017E+11        1/8/2019           1        7500
 3     96754469     3.03E+11        1/4/2019           1        7500
 4    410354345  3.02952E+11      12/21/2018           1        7500
 ..         ...          ...             ...         ...         ...
 995  964510149    302636726       1/15/2018           2        7500
 996  251997198    302772445       2/13/2018           1        7500
 997  899011279    302585439        1/3/2018           3        7500
 998  648637210  3.02788E+11      11/19/2018           1        7500
 999  464788691    302683579       1/24/2018           1        7500

      InterestRate  TermDays repaymentDueDate repaymentPaidDate
 0            30.0        30        1/20/2019         1/16/2019
 1            30.0        30        1/22/2019        12/29/2018
 2            30.0        30         2/7/2019          1/8/2019
 3            30.0        30         2/3/2019          1/8/2019
 4            30.0        30        1/20/2019         1/17/2019
 ..            ...       ...              ...               ...
 995          30.0        30        2/14/2018         1/20/2018
 996          30.0        30        3/15/2018         3/14/2018
 997          30.0        30         2/2/2018        10/12/2018
 998          30.0        30       12/19/2018        12/17/2018
 999          30.0        30        2/24/2018         2/11/2018

 [1000 rows x 9 columns],
        #                   Name   Type 1  Type 2  HP  Attack  Defense  \
 0      1              Bulbasaur    Grass  Poison  45      49       49
 1      2                Ivysaur    Grass  Poison  60      62       63
 2      3               Venusaur    Grass  Poison  80      82       83
 3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
 4      4             Charmander     Fire     NaN  39      52       43
 ..   ...                    ...      ...     ...  ..     ...      ...
 795  719                Diancie     Rock   Fairy  50     100      150
 796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
 797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
 798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
 799  721              Volcanion     Fire   Water  80     110      120

      Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
 0         65       65     45           1      False    318
 1         80       80     60           1      False    405
 2        100      100     80           1      False    525
 3        122      120     80           1      False    625
 4         60       50     65           1      False    309
 ..       ...      ...    ...         ...        ...    ...
 795      100      150     50           6       True    600
 796      160      110    110           6       True    700
 797      150      130     70           6       True    600
 798      170      130     80           6       True    680
 799      130       90     70           6       True    600

 [800 rows x 13 columns],
        #                   Name   Type 1  Type 2  HP  Attack  Defense  \
 0      1              Bulbasaur    Grass  Poison  45      49       49
 1      2                Ivysaur    Grass  Poison  60      62       63
 2      3               Venusaur    Grass  Poison  80      82       83
 3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
 4      4             Charmander     Fire     NaN  39      52       43
 ..   ...                    ...      ...     ...  ..     ...      ...
 795  719                Diancie     Rock   Fairy  50     100      150
 796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
 797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
 798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
 799  721              Volcanion     Fire   Water  80     110      120

      Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total
 0         65       65     45           1      False    318
 1         80       80     60           1      False    405
 2        100      100     80           1      False    525
 3        122      120     80           1      False    625
 4         60       50     65           1      False    309
 ..       ...      ...    ...         ...        ...    ...
 795      100      150     50           6       True    600
 796      160      110    110           6       True    700
 797      150      130     70           6       True    600
 798      170      130     80           6       True    680
 799      130       90     70           6       True    600

 [800 rows x 13 columns],
        #                   Name   Type 1  Type 2  HP  Attack  Defense  \
 0      1              Bulbasaur    Grass  Poison  45      49       49
 1      2                Ivysaur    Grass  Poison  60      62       63
 2      3               Venusaur    Grass  Poison  80      82       83
 3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
 4      4             Charmander     Fire     NaN  39      52       43
 ..   ...                    ...      ...     ...  ..     ...      ...
 795  719                Diancie     Rock   Fairy  50     100      150
 796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
 797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
 798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
 799  721              Volcanion     Fire   Water  80     110      120

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
 0         65       65     45           1      False
 1         80       80     60           1      False
 2        100      100     80           1      False
 3        122      120     80           1      False
 4         60       50     65           1      False
 ..       ...      ...    ...         ...        ...
 795      100      150     50           6       True
 796      160      110    110           6       True
 797      150      130     70           6       True
 798      170      130     80           6       True
 799      130       90     70           6       True

 [800 rows x 12 columns],
     Province/State      Country/Region        Lat        Long  1/22/20  \
 0              NaN         Afghanistan  33.939110   67.709953        0
 1              NaN             Albania  41.153300   20.168300        0
 2              NaN             Algeria  28.033900    1.659600        0
 3              NaN             Andorra  42.506300    1.521800        0
 4              NaN              Angola -11.202700   17.873900        0
 ..             ...                 ...        ...         ...      ...
 269            NaN             Vietnam  14.058324  108.277199        0
 270            NaN  West Bank and Gaza  31.952200   35.233200        0
 271            NaN               Yemen  15.552727   48.516388        0
 272            NaN              Zambia -13.133897   27.849332        0
 273            NaN            Zimbabwe -19.015438   29.154857        0

      1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  3/19/21  3/20/21  \
 0          0        0        0        0        0  ...    56069    56093
 1          0        0        0        0        0  ...   120022   120541
 2          0        0        0        0        0  ...   115970   116066
 3          0        0        0        0        0  ...    11431    11481
 4          0        0        0        0        0  ...    21642    21696
 ..       ...      ...      ...      ...      ...  ...      ...      ...
 269        2        2        2        2        2  ...     2571     2572
 270        0        0        0        0        0  ...   219912   221391
 271        0        0        0        0        0  ...     3217     3278
 272        0        0        0        0        0  ...    86059    86273
 273        0        0        0        0        0  ...    36652    36662

      3/21/21  3/22/21  3/23/21  3/24/21  3/25/21  3/26/21  3/27/21  3/28/21
 0      56103    56153    56177    56192    56226    56254    56290    56294
 1     121200   121544   121847   122295   122767   123216   123641   124134
 2     116157   116255   116349   116438   116543   116657   116750   116836
 3      11517    11545    11591    11638    11687    11732    11809    11850
 4      21733    21757    21774    21836    21914    21961    22031    22063
 ..       ...      ...      ...      ...      ...      ...      ...      ...
 269     2572     2575     2575     2576     2579     2586     2586     2591
 270   223638   225976   228044   230076   232038   233549   234748   236462
 271     3418     3516     3612     3703     3816     3900     3969     4033
 272    86449    86535    86779    86993    87318    87583    87583    87872
 273    36665    36684    36717    36749    36778    36805    36818    36822

 [274 rows x 436 columns]]

In [42]:
[pd.read_csv(file,)for file in all_file][2]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [45]:
merge_files = pd.concat([pd.read_csv(file,)for file in all_file])

In [46]:
merge_files

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,#,...,3/19/21,3/20/21,3/21/21,3/22/21,3/23/21,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21
0,839247458,3.02953E+11,12/21/2018,1.0,7500.0,30.0,30.0,1/20/2019,1/16/2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,217540860,3.0296E+11,12/23/2018,1.0,7500.0,30.0,30.0,1/22/2019,12/29/2018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,522238092,3.03017E+11,1/8/2019,1.0,7500.0,30.0,30.0,2/7/2019,1/8/2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,96754469,3.03E+11,1/4/2019,1.0,7500.0,30.0,30.0,2/3/2019,1/8/2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,410354345,3.02952E+11,12/21/2018,1.0,7500.0,30.0,30.0,1/20/2019,1/17/2019,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2571.0,2572.0,2572.0,2575.0,2575.0,2576.0,2579.0,2586.0,2586.0,2591.0
270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,219912.0,221391.0,223638.0,225976.0,228044.0,230076.0,232038.0,233549.0,234748.0,236462.0
271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3217.0,3278.0,3418.0,3516.0,3612.0,3703.0,3816.0,3900.0,3969.0,4033.0
272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86059.0,86273.0,86449.0,86535.0,86779.0,86993.0,87318.0,87583.0,87583.0,87872.0
273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36652.0,36662.0,36665.0,36684.0,36717.0,36749.0,36778.0,36805.0,36818.0,36822.0

In [47]:
merge_files.to_csv("test_csvs.csv")